/* make the customizations */
$theme-colors: (

);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";
@import "~react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css";
@import "~react-confirm-alert/src/react-confirm-alert.css";

p {
  margin: 0px;
  padding: 0px;
}

.react-datepicker-wrapper {
  display: block;
}

.react-icons {
  vertical-align: middle;
}